<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.brian.testandroid">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TranslucentStatusBarActivity"
            android:theme="@style/TranslucentStatusBarTheme"/>
        <activity android:name=".activity.TabLayoutActivity"/>
        <activity android:name=".activity.BannerViewActivity"/>
        <activity android:name=".activity.MarkableProgressBarActivity"/>
        <activity android:name=".activity.ScrollingImageActivity"/>
        <activity android:name=".activity.PraiseViewActivity"/>
        <activity android:name=".activity.BombViewActivity"/>
        <activity android:name=".activity.DrawerArrowActivity"/>
        <activity android:name=".activity.DialogFragmentActivity"/>
        <activity android:name=".activity.DayNightActivity"/>
        <activity android:name=".activity.RecyclerViewActivity"/>
        <activity android:name=".activity.CameraActivity"/>
        <activity android:name=".activity.PermissionsActivity"/>
        <activity android:name=".activity.VRImageActivity"/>
        <activity android:name=".activity.PushActivity"/>
        <activity android:name=".activity.FtpFilesActivity"/>
        <activity android:name=".activity.FFmpegRecorderActivity"/>
        <activity android:name=".activity.FFmpegPreviewActivity"/>
        <activity android:name=".activity.FFmpegCmdActivity"/>
        <activity android:name=".activity.ScalableImageViewActivity"/>
    </application>

</manifest>